main {
  margin: 1rem;
  display: flex;
  section {
    margin: 0.5rem;
    padding: 0.5rem;
    flex: 1;
    box-shadow: 3px 3px 12px #00000033;
    h2, h3, h4 {
      background: #e0e9ff;
      /* cancel container's padding */
      margin-top: -.5rem;
      margin-left: -.5rem;
      margin-right: -.5rem;
      padding: 0.5rem;
    }
    h2 {
      text-align: center;
      padding: 1rem;
    }
    h3 {
      background: #eaf4ff;
    }
    h4 {
      background: #f3f3f3;
    }
  }
}
